/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "SliceMK ErgoDox 202108 Blue";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,console = &cdc_acm_uart;
		zmk,battery = &vbatt;
	};

	leds {
		compatible = "gpio-leds";
		led0: led0 {
			gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	// Use VDDHDIV5 for battery voltage. Since the Schottky diode voltage drop
	// is approximately 0.3V, treat as voltage divider with output-ohms 33
	// (3.3V) and full-ohms 180 (equivalent of 3.6V times 5).
	vbatt: VBATT {
		compatible = "zmk,battery-voltage-divider";
		label = "VBATT";
		io-channels = <&adc (0x0D - 1)>;
		output-ohms = <33>;
		full-ohms = <180>;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@1000 {
			label = "code_partition";
			reg = <0x00001000 0x000e9000>;
		};

		storage_partition: partition@ea000 {
			label = "storage";
			reg = <0x000ea000 0x0000a000>;
		};
	};
};
