/dts-v1/;
#include <nordic/nrf52833_qiaa.dtsi>

#include <dt-bindings/led/led.h>

/ {
	model = "SliceMK ErgoDox 202205 Green";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
		zephyr,console = &cdc_acm_uart;

		zmk,battery = &vbatt;
		zmk,underglow = &led_strip;
	};

	leds {
		compatible = "gpio-leds";
		led0: led0 {
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};

	// Use VDDHDIV5 for battery voltage.
	vbatt: vbatt {
		compatible = "zmk,battery-nrf-vddh";
		label = "VBATT";
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&usbd {
	status = "okay";
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@1000 {
			label = "code_partition";
			reg = <0x00001000 0x0006c000>;
		};

		storage_partition: partition@6d000 {
			label = "storage";
			reg = <0x0006d000 0x00007000>;
		};
	};
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		reg = <0>;
		spi-max-frequency = <4000000>;

		chain-length = <10>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};
