config SHIELD_SLICEMK_ERGODOX_DONGLE
	def_bool $(shields_list_contains,slicemk_ergodox_dongle)

config SHIELD_SLICEMK_ERGODOX_LEFT
	def_bool $(shields_list_contains,slicemk_ergodox_left)

config SHIELD_SLICEMK_ERGODOX_RIGHT
	def_bool $(shields_list_contains,slicemk_ergodox_right)
